			body{
				background-color:PALETURQUOISE;				
				background-image:url(Immagini/cipollasfondo.JFIF);
				background-repeat:no-repeat;
				background-position: 10px 5px;
				background-size:120px;
			}

			h1{
				font-family:Georgia;
				color:rgb(191, 134, 218);
				text-align:center;
			}
			h3{
				font-family:Georgia;
				color:rgb(0, 0, 255);
			}
			div#riquadro{ 
				text-align:center;
				padding: 20px; 
				border: 2px solid blue; 
				margin:auto;
			}
			p{
				font-family:Georgia
			}
			.lin{
				font-family:Georgia;
				color:rgb(191, 134, 218);
			}

			.al{
				width:320px;
				height:214px;
			}
			div#ultimo{
				font-family:Georgia;
				color:rgb(0, 0, 255);
				
			}

			ul#navigation{
				list-type-data:none;			
			}
			ul#navigation a{
				color:rgb(0, 0, 255);
				text-decoration:none;
				font-size:20px;
				text-align:center;

				
			}
			ul#navigation li{
				display:inline;	
				padding:5px;
				border-right:2px;
				border-right-style:solid;
				border-right-color:rgb(0, 0, 255);	
				border-left:2px;
				border-left-style:solid;
				border-left-color:rgb(0, 0, 255);	

			}
			ul#navigation a:hover{
				color:rgb(191, 134, 218);
				text-decoration:underline;
				font-size:30px;
			}
			img{
				float:right;
			}
			main{
				width:1000px;
				margin:auto;
				background-color:rgb(248, 239, 255);
				padding:30px;
				border-right: solid 2px black;
				border-left: solid 2px black;
				border-bottom: solid 2px black;
				
			}
			div#copy{
				font-size:10px;
				text-align:center;
			}
			header{
				text-align:center;
				border:solid 2px black;
				width:1060px;
				height:150px;
				margin:auto;
			}